.App {
	text-align: center;
}

.canvass {
	display: flex;
	justify-content: center;
	text-align: left;
}

.card {
	width: 220px;
	margin-right: 40px;
}

.card1 {
	width: 400px;
	margin-right: 40px;
}

.notifs {
	transition: 0.5s;
	color: rgb(19, 15, 87);
  }
  
  .notifs:hover {
  
	transform-origin: top left;
	transform: scale(1.1);
	margin-right: 10px;
	color: rgb(39, 39, 156);
  }